<main class="main-body">
        <div class="page-title">
            <h1>Referral <br> program</h1>
            
        </div>

        <div class="ref-text1">
            <div class="img"><img src="https://oilmaxcapital.com/skin/img/ref1.png" alt=""></div>
            <div class="text">
                                    <p>
                        Every registered OMC user can use their referral link to invite partners and receive rewards from referral purchases.
                        The level of the referral program is provided in accordance with the investment package. There are three types of levels:
                        silver,
                        gold and platinum.</p>
                    <p>
                        The Silver level is provided when purchasing an investment package numbered 1 or 2 and gives you 5% profit from the purchase
                        of
                        your referral.</p>
                    <p>
                        The Gold level is received by users who have invested in the category of packages with 3 or 4 levels of investment packages
                        and
                        gives you 7% profit from the purchase of your referral.</p>
                    <p>
                        You can get the Platinum level when purchasing an investment package from level 5 and above, it gives you the opportunity to
                        receive 10% of your referral's profit.</p>
                            </div>
        </div>

        <div class="ref-text2">
            <h2>How to Start a Referral Program: 4 Simple Steps to Start</h2>
        </div>

        <div class="ref-text3">
            <div class="content-item">
                <div class="count icon1">
                    <span>01</span>
                </div>
                <h3>Registration</h3>
                <p>To register you should fill in all fields in the registration form and confirm your e-mail</p>
            </div>
            <div class="content-item">
                <div class="count icon2">
                    <span>02</span>
                </div>
                <h3>Choose a suitable investment plan</h3>
                <p>Indicate the investment amount in the "Order" section of your personal account and select the period of investment</p>
            </div>
            <div class="content-item">
                <div class="count icon3">
                    <span>03</span>
                </div>
                <h3>Share your referral link</h3>
                <p>The referral statistics page will display the user who registered using your referral link</p>
            </div>
            <div class="content-item">
                <div class="count icon4">
                    <span>04</span>
                </div>
                <h3>Get your bonuses</h3>
                <p>
                    After purchasing an investment plan by your referral, you will be credited with bonuses in accordance with the referral program                </p>
            </div>
            <div></div>
        </div>

        <div class="ref-text4">
            <a href="https://oilmaxcapital.com/en/packages">Invest now</a>
        </div>
    </main>