<section class="home_slider slick-slider">
            <div class="slider-body" style="background-image: url(mainSlide.jpg);">
                <section class="slider-info">
                    <div class="title">
                        <h1>Money should work and be profitable!</h1>
                        <p>We know, how it works</p>
                    </div>
                </section>
            </div>

            <div class="slider-body" style="background-image: url(mainSlide2.jpg);">
                <section class="slider-info">
                    <div class="title">
                        <h1>Try our referral program to get additional bonuses on your account!</h1>
                        <p>Upgrade your referral level by attracting people</p>
                    </div>
                </section>
            </div>

            <div class="slider-body" style="background-image: url(mainSlide3.jpg);">
                <section class="slider-info">
                    <div class="title">
                        <h1>Don’t let profit pass by you!</h1>
                        <p>Make smart investments with us, and enjoy passive income</p>
                    </div>
                </section>
            </div>
</section>

<section class="home-headerReg">
        <form action="#" method="get">
            <div class="field-data">
                <input type="email" name="email" placeholder="Enter your E-mail" class="">
                <button type="submit"><span>Registration</span></button>
            </div>
        </form>

        <div class="stat">
            <div class="stat-item">
                <span>$ 15,471,214</span>
                <p>Assets staking with us</p>
            </div>
            <div class="stat-item">
                <span>$ 1,626,119+</span>
                <p>Generated customer rewards</p>
            </div>
            <div class="stat-item">
                <span>7,381</span>
                <p>Number of customers</p>
            </div>
        </div>
</section>

<section class="home-advantage">
        <div class="title">
            <h2>
                Our <span>advantages</span>            </h2>
            <p>
                                    Investing through our company you get the maximum <br>
                    profit, this became possible for several reasons
                            </p>
        </div>
        <div class="list">
            <div class="list-item">
                <div class="info ico1">
                    <span></span>
                    <h3>Security</h3>
                    <p>
                                                    We guarantee safety of your personal data. Our technicians are under development of new security technologies every day to
                            keep the reliability level of our service
                                            </p>
                </div>
            </div>
            <div class="list-item">
                <div class="info ico2">
                    <span></span>
                    <h3>Detailed Statistics</h3>
                    <p>
                                                    You are able to see full and detailed statistics of investment process directly at your personal cabinet
                                            </p>
                </div>
            </div>
            <div class="list-item">
                <div class="info ico3">
                    <span></span>
                    <h3>Wide range of Plans</h3>
                    <p>
                                                    We are sure, that you will find suitable plan for yourself, as we always try to take into account the price wishes of our
                            clients
                                            </p>
                </div>
            </div>
            <div class="list-item">
                <div class="info ico4">
                    <span></span>
                    <h3>Team of Experts</h3>
                    <p>
                                                    Our team consists of professional technicians, programmers and managers.
                            Also, our support team always happy to answer all your questions trough email
                                            </p>
                </div>
            </div>
            <div class="list-item">
                <div class="info ico5">
                    <span></span>
                    <h3>Instant Payouts</h3>
                    <p>
                                                    Instant payouts everywhere at every time.
                            Withdraw your income only when you decide
                                            </p>
                </div>
            </div>
            <div class="list-item">
                <div class="info ico6">
                    <span></span>
                    <h3>Without Mediators</h3>
                    <p>
                                                    No intermediary. Only you and our service.
                            Don’t worry about unclear plans or additional costs
                                            </p>
                </div>
            </div>
        </div>
    </section>