<main class="main-body">
        <div class="page-title">
            <h1>FAQ</h1>
        </div>

        <div class="faq-body">

                                        

                    <div class="faq-item">
                        <div class="faq-title">
                            <h3>How to get started with the OMC?</h3>
                            <span></span>
                        </div>
                        <p>In order to start working with OMC, you need to go through a simple registration on our website and confirm your mail. Also, you should be familiar with the site rules and confirm your consent.&nbsp;<br>
Pay attention to the fact that when you register, you automatically agree to our newsletter and promotional materials (If desired, you can unsubscribe by clicking the "unsubscribe" in the body of the message).&nbsp;<br>
Next step, you need to select an investment package and its duration. After payment, information on your tariff (package) will be displayed in your personal account.<br>
&nbsp;</p>
                    </div>

                            

                    <div class="faq-item">
                        <div class="faq-title">
                            <h3>Minimum and maximum deposits</h3>
                            <span></span>
                        </div>
                        <p>The minimum deposit - &nbsp;10$<br>
The maximum deposit - &nbsp;10,000$</p>
                    </div>

                            

                    <div class="faq-item">
                        <div class="faq-title">
                            <h3>What virtual currency is used for work?</h3>
                            <span></span>
                        </div>
                        <p>All deposits and withdrawals at OMC&nbsp;are currently carried out in virtual currency - Bitcoin.<br>
&nbsp;</p>
                    </div>

                            

                    <div class="faq-item">
                        <div class="faq-title">
                            <h3>How often are accruals made? How long do payments take to process?</h3>
                            <span></span>
                        </div>
                        <p>Profit from investments &nbsp;is calculated daily. Withdrawal requests are processed for at least 5 minutes and no more than 24 hours. Depending on the workload of the Blockchain system.<br>
&nbsp;</p>
                    </div>

                            

                    <div class="faq-item">
                        <div class="faq-title">
                            <h3>I can't login. What should I do?</h3>
                            <span></span>
                        </div>
                        <p>If you’re having trouble logging into your OMC&nbsp;account, it may be due to an issue with your login credentials.<br>
Here’s what we recommend: &nbsp;<br>
Be careful when entering your data.The most common mistake - entering an invalid email address, which does not allow you to log in.<br>
Reset your password . Go to the authorization form and click the reset password button.Enter your password reset information in the recovery form. If you do not receive an email from OMC, check your spam/junk folder.</p>
                    </div>

                            

                    <div class="faq-item">
                        <div class="faq-title">
                            <h3>How to stop working with the OMC?</h3>
                            <span></span>
                        </div>
                        <p>To delete your account, you need to write to the Support Team &nbsp;(support@oilmaxcapital.com).They will send an authorization code to the email address provided during registration. We draw your attention:&nbsp;<br>
- if your account will have an active investment package, the compensation is not carried out;<br>
- if you have funds on your account that you have not withdrawn, you will have a week to withdraw funds;&nbsp;<br>
- referral expenses will be terminated.</p>
                    </div>

                            

                    <div class="faq-item">
                        <div class="faq-title">
                            <h3>I purchased an investment package, when will it be activated?</h3>
                            <span></span>
                        </div>
                        <p>If the investment package has been paid in full, then the activation of the investment package occurs after 4 confirmations in the Blockchain system.<br>
&nbsp;</p>
                    </div>

                            

                    <div class="faq-item">
                        <div class="faq-title">
                            <h3>I paid for the investment package, but it was not activated.</h3>
                            <span></span>
                        </div>
                        <p>In this case, check if you paid the amount correctly (in addition, the system will additionally notify you in your orders,if you haven't paid extra.) If you paid the full amount and the capacity is inactive, please, contact our Support Team. (support@oilmaxcapital.com)</p>
                    </div>

                            

                    <div class="faq-item">
                        <div class="faq-title">
                            <h3>Is it possible termination of the investment package?</h3>
                            <span></span>
                        </div>
                        <p>Investment packages are irrevocable and can not be terminated prematurely by the Client.<br>
&nbsp;</p>
                    </div>

                            

                    <div class="faq-item">
                        <div class="faq-title">
                            <h3>How to withdraw profit from investment packages?</h3>
                            <span></span>
                        </div>
                        <p>You will need to go to the “Payment” section in your personal account, specify the wallet and the desired amount (note that the second withdrawal request can only be sent after the execution is already active).</p>
                    </div>

            

        </div>

        <div class="questionForm-body">
            <div class="text">
    <h3>
        Got a <span> question?</span>    </h3>
    <p>
        If you have any questions or have suggestions for the work of the service, leave a request and we will contact you    </p>
</div>
<div class="form">
    <form id="questionForm" action="https://oilmaxcapital.com/en/questionForm" method="post">
        <div id="successQuestionForm" style="color:green;font-size: 20px; padding-bottom: 15px"></div>
        <input type="hidden" name="_token" value="xtqLqEsUakUIVzEutC85HBZfTGDxDo59xSgMZFXL">
        <div class="field"><input id="nameQuestionForm" name="name" required="" type="text" placeholder="Name"></div>
        <div class="field"><input name="email" id="emailQuestionForm" required="" type="email" placeholder="E-mail"></div>
        <div class="field"><textarea name="text" required="" id="textQuestionForm" cols="30" rows="10" placeholder="Comment"></textarea></div>
        <div class="field-send">
            <div class="btn">
                <button><span>Send</span></button>
            </div>
            <div class="text">By clicking on the "Submit" button, you consent to the processing of personal data</div>
        </div>
    </form>
</div>


<script>
    $(function () {
        $('#questionForm').submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: $(this).attr('action'),
                type: "POST",
                dataType: "json",
                data: $(this).serialize(),
                success: function (data) {
                    if (data.status == 'ok') {
                        $('#successQuestionForm').html("<p>Thanks! Your message has been sent</p>");
                        $('#nameQuestionForm, #emailQuestionForm, #textQuestionForm').val('')
                    }
                }
            });
        })
    });
</script>
        </div>


    </main>