$shadow: 0 0 12px rgb(224, 189, 137 / 80%);


body.bg-package {
    background-color: #202022;
    background-image: url('package.jpg');
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: contain;
}
body, html {
    overflow-x: hidden;
    min-height: 100vh;
    background: #202022;
}
body {
    line-height: 1;
}
.page-title {
    padding: 175px 0;
}

.main-body {
    width: calc(100% - 30px);
    max-width: 1270px;
    min-height: calc(100vh - 297px);
    padding: 0 5px;
    margin: 0 auto;
}

.page-title {
    padding: 175px 0;
}

.page-title h1 {
    margin-bottom: 30px;
    color: #e0bd89;
    font-size: 64px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 800;
}

.package-content {
    margin-bottom: 190px;
}

.tabs {

    display: flex;
    padding: 14px 7px;
    margin-bottom: 65px;
    background: rgba(70,70,78,.6);
    border-radius: 18px;
}

.tabs li {

    flex: 0 1 33.33333333%;
    padding: 0 8px;
	list-style: none;
}

.package-list {
    display: flex;
    flex-wrap: wrap;
}



.package-item {

    flex: 1 1 auto;
    padding: 0 8px 55px 8px;
}

.package-info {
    width: 100%;
    padding-top: 55px;
    background-color: rgba(88,88,100,.3);
    background-image: url('p-bg.png');
    background-repeat: repeat-x;
    background-position: 0 0;
    border-radius: 16px;
    position: relative;
}

.package-info h2 {
    margin-bottom: 60px;
    color: #e0bd89;
    font-size: 32px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    text-align: center;
}

.package-infoBlock {
    padding: 0 24px 35px 24px;
}



.package-infoBlock>div.fieldInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid rgba(147,147,166,.2);
}

.package-infoBlock>div.fieldInfo span:nth-child(1) {
    color: #c6cde1;
    font-size: 16px;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
}

.package-infoBlock>div.fieldInfo span:nth-child(2) {
    color: #fff;
    font-size: 16px;
    font-family: Montserrat,sans-serif;
    font-weight: 600;
}

.package-infoBlock>div.fieldInfo span:nth-child(2).gold {
    color: #e0bd89;
    font-family: Montserrat,sans-serif;
    font-weight: 600;
    text-shadow: $shadow;
}
.tabs li.current a {
    background: #e0bd89;
    color: #202022;
}
.tabs li a {
 
    display: flex;

    justify-content: center;

    align-items: center;
    height: 56px;
    padding: 10px;
    background: #585864;
    border-radius: 12px;
    color: #878793;
    font-size: 18px;
    font-family: Montserrat,sans-serif;
    font-weight: 600;
text-decoration: none;
    transition: background .25s linear;
}


.tabs li a:hover{
    background-color:#e0bd89 ;
    color: #202022;
}

.package-select a {
   
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: #e0bd89;
    font-size: 16px;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    text-decoration: none;
}

.package-select {

    display: flex;

    justify-content: center;

    align-items: center;
    height: 56px;
    background: #3a3a43;
    border-radius: 0 0 16px 16px;
}

.package-select a:after {
    content: '';
    width: 16px;
    height: 16px;
    margin-left: 12px;
    display: inline-block;
    background-image: url('plus2.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}

.package-sale span {
    padding: 8px 12px;
    background: #ff705c;
    border-radius: 22px;
    color: #fff;
    font-size: 14px;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.package-sale {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 5px;
}

.package-state {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: -10px;
}