<%= stylesheet_link_tag 'investment_pakages' %>

<body class="    bg-package
" data-new-gr-c-s-check-loaded="14.997.0" data-gr-ext-installed="">
  
       
    <main class="main-body">
        <div class="page-title">
            <h1>Investment <br>packages</h1>
            
        </div>

        <div class="package-content">
            <ul class="tabs">
                <li class="current">
                    <a href="#tabs1">2 months</a>
                </li>
                <li>
                    <a href="#tabs2">4 months</a>
                </li>
                <li>
                    <a href="#tabs3">6 months</a>
                </li>
            </ul>

            <div class="tab_content tab-pane fade show active" id="tabs1" style="">
                <div class="package-list">
                                            <div class="package-item">
                            <div class="package-info">
                                <h2>Base</h2>
                                <div class="package-infoBlock">
                                    <div class="fieldInfo">
                                        <span>Referal Level:</span>
                                        <span class="gold">Silver</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Daily Income:</span>
                                        <span>$0.33</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Package Price:</span>
                                                                                    <span>6.0$ <span class="old">10$</span></span>
                                                                            </div>
                                    <div class="fieldInfo">
                                        <span>Duration:</span>
                                        <span>2 months</span>
                                    </div>
                                </div>
                                                                    <div class="package-select">
                                        <a href="https://oilmaxcapital.com/en/cabinet/createOrder?tarrif_id=1">Select package</a>
                                    </div>
                                
                                                                    <div class="package-state">
                                                                                                                                                                    <div class="package-sale"><span> 40%  Sale</span></div>
                                                                            </div>
                                
                            </div>
                        </div>
                                            <div class="package-item">
                            <div class="package-info">
                                <h2>Beginner</h2>
                                <div class="package-infoBlock">
                                    <div class="fieldInfo">
                                        <span>Referal Level:</span>
                                        <span class="gold">Silver</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Daily Income:</span>
                                        <span>$1.67</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Package Price:</span>
                                                                                    <span>30.0$ <span class="old">50$</span></span>
                                                                            </div>
                                    <div class="fieldInfo">
                                        <span>Duration:</span>
                                        <span>2 months</span>
                                    </div>
                                </div>
                                                                    <div class="package-select">
                                        <a href="https://oilmaxcapital.com/en/cabinet/createOrder?tarrif_id=2">Select package</a>
                                    </div>
                                
                                                                    <div class="package-state">
                                                                                                                                                                    <div class="package-sale"><span> 40%  Sale</span></div>
                                                                            </div>
                                
                            </div>
                        </div>
                                            <div class="package-item">
                            <div class="package-info">
                                <h2>Intermediate</h2>
                                <div class="package-infoBlock">
                                    <div class="fieldInfo">
                                        <span>Referal Level:</span>
                                        <span class="gold">Gold</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Daily Income:</span>
                                        <span>$3.33</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Package Price:</span>
                                                                                    <span>60.0$ <span class="old">100$</span></span>
                                                                            </div>
                                    <div class="fieldInfo">
                                        <span>Duration:</span>
                                        <span>2 months</span>
                                    </div>
                                </div>
                                                                    <div class="package-select">
                                        <a href="https://oilmaxcapital.com/en/cabinet/createOrder?tarrif_id=3">Select package</a>
                                    </div>
                                
                                                                    <div class="package-state">
                                                                                                                                                                    <div class="package-sale"><span> 40%  Sale</span></div>
                                                                            </div>
                                
                            </div>
                        </div>
                                            <div class="package-item">
                            <div class="package-info">
                                <h2>Advanced</h2>
                                <div class="package-infoBlock">
                                    <div class="fieldInfo">
                                        <span>Referal Level:</span>
                                        <span class="gold">Gold</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Daily Income:</span>
                                        <span>$16.67</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Package Price:</span>
                                                                                    <span>300.0$ <span class="old">500$</span></span>
                                                                            </div>
                                    <div class="fieldInfo">
                                        <span>Duration:</span>
                                        <span>2 months</span>
                                    </div>
                                </div>
                                                                    <div class="package-select">
                                        <a href="https://oilmaxcapital.com/en/cabinet/createOrder?tarrif_id=4">Select package</a>
                                    </div>
                                
                                                                    <div class="package-state">
                                                                                                                                                                    <div class="package-sale"><span> 40%  Sale</span></div>
                                                                            </div>
                                
                            </div>
                        </div>
                                            <div class="package-item">
                            <div class="package-info">
                                <h2>Professional</h2>
                                <div class="package-infoBlock">
                                    <div class="fieldInfo">
                                        <span>Referal Level:</span>
                                        <span class="gold">Platinum</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Daily Income:</span>
                                        <span>$33.33</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Package Price:</span>
                                                                                    <span>500.0$ <span class="old">1,000$</span></span>
                                                                            </div>
                                    <div class="fieldInfo">
                                        <span>Duration:</span>
                                        <span>2 months</span>
                                    </div>
                                </div>
                                                                    <div class="package-select">
                                        <a href="https://oilmaxcapital.com/en/cabinet/createOrder?tarrif_id=5">Select package</a>
                                    </div>
                                
                                                                    <div class="package-state">
                                                                                                                                                                    <div class="package-sale"><span> 50%  Sale</span></div>
                                                                            </div>
                                
                            </div>
                        </div>
                                            <div class="package-item">
                            <div class="package-info">
                                <h2>Expert</h2>
                                <div class="package-infoBlock">
                                    <div class="fieldInfo">
                                        <span>Referal Level:</span>
                                        <span class="gold">Platinum</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Daily Income:</span>
                                        <span>$83.33</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Package Price:</span>
                                                                                    <span>1,250.0$ <span class="old">2,500$</span></span>
                                                                            </div>
                                    <div class="fieldInfo">
                                        <span>Duration:</span>
                                        <span>2 months</span>
                                    </div>
                                </div>
                                                                    <div class="package-select">
                                        <a href="https://oilmaxcapital.com/en/cabinet/createOrder?tarrif_id=6">Select package</a>
                                    </div>
                                
                                                                    <div class="package-state">
                                                                                                                                                                    <div class="package-sale"><span> 50%  Sale</span></div>
                                                                            </div>
                                
                            </div>
                        </div>
                                            <div class="package-item">
                            <div class="package-info">
                                <h2>Ultimate</h2>
                                <div class="package-infoBlock">
                                    <div class="fieldInfo">
                                        <span>Referal Level:</span>
                                        <span class="gold">Platinum</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Daily Income:</span>
                                        <span>$166.67</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Package Price:</span>
                                                                                    <span>2,000.0$ <span class="old">5,000$</span></span>
                                                                            </div>
                                    <div class="fieldInfo">
                                        <span>Duration:</span>
                                        <span>2 months</span>
                                    </div>
                                </div>
                                                                    <div class="package-select">
                                        <a href="https://oilmaxcapital.com/en/cabinet/createOrder?tarrif_id=7">Select package</a>
                                    </div>
                                
                                                                    <div class="package-state">
                                                                                                                                                                    <div class="package-sale"><span> 60%  Sale</span></div>
                                                                            </div>
                                
                            </div>
                        </div>
                                            <div class="package-item">
                            <div class="package-info">
                                <h2>Ultimate+</h2>
                                <div class="package-infoBlock">
                                    <div class="fieldInfo">
                                        <span>Referal Level:</span>
                                        <span class="gold">Platinum</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Daily Income:</span>
                                        <span>$333.33</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Package Price:</span>
                                                                                    <span>4,000.0$ <span class="old">10,000$</span></span>
                                                                            </div>
                                    <div class="fieldInfo">
                                        <span>Duration:</span>
                                        <span>2 months</span>
                                    </div>
                                </div>
                                                                    <div class="package-select">
                                        <a href="https://oilmaxcapital.com/en/cabinet/createOrder?tarrif_id=8">Select package</a>
                                    </div>
                                
                                                                    <div class="package-state">
                                                                                                                                                                    <div class="package-sale"><span> 60%  Sale</span></div>
                                                                            </div>
                                
                            </div>
                        </div>
                                    </div>
            </div>


            <div class="tab_content tab-pane fade" id="tabs2" style="display: none;">
                <div class="package-list">
                                            <div class="package-item">
                            <div class="package-info">
                                <h2>Base</h2>
                                <div class="package-infoBlock">
                                    <div class="fieldInfo">
                                        <span>Referal Level:</span>
                                        <span class="gold">Silver</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Daily Income:</span>
                                        <span>$0.22</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Package Price:</span>
                                                                                    <span>6.0$ <span class="old">10$</span></span>
                                                                            </div>
                                    <div class="fieldInfo">
                                        <span>Duration:</span>
                                        <span>4 months</span>
                                    </div>
                                </div>
                                                                    <div class="package-select">
                                        <a href="https://oilmaxcapital.com/en/cabinet/createOrder?tarrif_id=9">Select package</a>
                                    </div>
                                
                                                                    <div class="package-state">
                                                                                                                                                                    <div class="package-sale"><span> 40%  Sale</span></div>
                                                                            </div>
                                
                            </div>
                        </div>
                                            <div class="package-item">
                            <div class="package-info">
                                <h2>Beginner</h2>
                                <div class="package-infoBlock">
                                    <div class="fieldInfo">
                                        <span>Referal Level:</span>
                                        <span class="gold">Silver</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Daily Income:</span>
                                        <span>$1.11</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Package Price:</span>
                                                                                    <span>30.0$ <span class="old">50$</span></span>
                                                                            </div>
                                    <div class="fieldInfo">
                                        <span>Duration:</span>
                                        <span>4 months</span>
                                    </div>
                                </div>
                                                                    <div class="package-select">
                                        <a href="https://oilmaxcapital.com/en/cabinet/createOrder?tarrif_id=10">Select package</a>
                                    </div>
                                
                                                                    <div class="package-state">
                                                                                                                                                                    <div class="package-sale"><span> 40%  Sale</span></div>
                                                                            </div>
                                
                            </div>
                        </div>
                                            <div class="package-item">
                            <div class="package-info">
                                <h2>Intermediate</h2>
                                <div class="package-infoBlock">
                                    <div class="fieldInfo">
                                        <span>Referal Level:</span>
                                        <span class="gold">Gold</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Daily Income:</span>
                                        <span>$2.22</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Package Price:</span>
                                                                                    <span>60.0$ <span class="old">100$</span></span>
                                                                            </div>
                                    <div class="fieldInfo">
                                        <span>Duration:</span>
                                        <span>4 months</span>
                                    </div>
                                </div>
                                                                    <div class="package-select">
                                        <a href="https://oilmaxcapital.com/en/cabinet/createOrder?tarrif_id=11">Select package</a>
                                    </div>
                                
                                                                    <div class="package-state">
                                                                                                                                                                    <div class="package-sale"><span> 40%  Sale</span></div>
                                                                            </div>
                                
                            </div>
                        </div>
                                            <div class="package-item">
                            <div class="package-info">
                                <h2>Advanced</h2>
                                <div class="package-infoBlock">
                                    <div class="fieldInfo">
                                        <span>Referal Level:</span>
                                        <span class="gold">Gold</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Daily Income:</span>
                                        <span>$11.11</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Package Price:</span>
                                                                                    <span>300.0$ <span class="old">500$</span></span>
                                                                            </div>
                                    <div class="fieldInfo">
                                        <span>Duration:</span>
                                        <span>4 months</span>
                                    </div>
                                </div>
                                                                    <div class="package-select">
                                        <a href="https://oilmaxcapital.com/en/cabinet/createOrder?tarrif_id=12">Select package</a>
                                    </div>
                                
                                                                    <div class="package-state">
                                                                                                                                                                    <div class="package-sale"><span> 40%  Sale</span></div>
                                                                            </div>
                                
                            </div>
                        </div>
                                            <div class="package-item">
                            <div class="package-info">
                                <h2>Professional</h2>
                                <div class="package-infoBlock">
                                    <div class="fieldInfo">
                                        <span>Referal Level:</span>
                                        <span class="gold">Platinum</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Daily Income:</span>
                                        <span>$22.22</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Package Price:</span>
                                                                                    <span>500.0$ <span class="old">1,000$</span></span>
                                                                            </div>
                                    <div class="fieldInfo">
                                        <span>Duration:</span>
                                        <span>4 months</span>
                                    </div>
                                </div>
                                                                    <div class="package-select">
                                        <a href="https://oilmaxcapital.com/en/cabinet/createOrder?tarrif_id=13">Select package</a>
                                    </div>
                                
                                                                    <div class="package-state">
                                                                                                                                                                    <div class="package-sale"><span> 50%  Sale</span></div>
                                                                            </div>
                                
                            </div>
                        </div>
                                            <div class="package-item">
                            <div class="package-info">
                                <h2>Expert</h2>
                                <div class="package-infoBlock">
                                    <div class="fieldInfo">
                                        <span>Referal Level:</span>
                                        <span class="gold">Platinum</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Daily Income:</span>
                                        <span>$55.56</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Package Price:</span>
                                                                                    <span>1,250.0$ <span class="old">2,500$</span></span>
                                                                            </div>
                                    <div class="fieldInfo">
                                        <span>Duration:</span>
                                        <span>4 months</span>
                                    </div>
                                </div>
                                                                    <div class="package-select">
                                        <a href="https://oilmaxcapital.com/en/cabinet/createOrder?tarrif_id=14">Select package</a>
                                    </div>
                                
                                                                    <div class="package-state">
                                                                                                                                                                    <div class="package-sale"><span> 50%  Sale</span></div>
                                                                            </div>
                                
                            </div>
                        </div>
                                            <div class="package-item">
                            <div class="package-info">
                                <h2>Ultimate</h2>
                                <div class="package-infoBlock">
                                    <div class="fieldInfo">
                                        <span>Referal Level:</span>
                                        <span class="gold">Platinum</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Daily Income:</span>
                                        <span>$111.11</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Package Price:</span>
                                                                                    <span>2,000.0$ <span class="old">5,000$</span></span>
                                                                            </div>
                                    <div class="fieldInfo">
                                        <span>Duration:</span>
                                        <span>4 months</span>
                                    </div>
                                </div>
                                                                    <div class="package-select">
                                        <a href="https://oilmaxcapital.com/en/cabinet/createOrder?tarrif_id=15">Select package</a>
                                    </div>
                                
                                                                    <div class="package-state">
                                                                                                                                                                    <div class="package-sale"><span> 60%  Sale</span></div>
                                                                            </div>
                                
                            </div>
                        </div>
                                            <div class="package-item">
                            <div class="package-info">
                                <h2>Ultimate+</h2>
                                <div class="package-infoBlock">
                                    <div class="fieldInfo">
                                        <span>Referal Level:</span>
                                        <span class="gold">Platinum</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Daily Income:</span>
                                        <span>$222.22</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Package Price:</span>
                                                                                    <span>4,000.0$ <span class="old">10,000$</span></span>
                                                                            </div>
                                    <div class="fieldInfo">
                                        <span>Duration:</span>
                                        <span>4 months</span>
                                    </div>
                                </div>
                                                                    <div class="package-select">
                                        <a href="https://oilmaxcapital.com/en/cabinet/createOrder?tarrif_id=16">Select package</a>
                                    </div>
                                
                                                                    <div class="package-state">
                                                                                                                                                                    <div class="package-sale"><span> 60%  Sale</span></div>
                                                                            </div>
                                
                            </div>
                        </div>
                                    </div>

            </div>


            <div class="tab_content tab-pane fade" id="tabs3" style="display: none;">
                <div class="package-list">
                                            <div class="package-item">
                            <div class="package-info">
                                <h2>Base</h2>
                                <div class="package-infoBlock">
                                    <div class="fieldInfo">
                                        <span>Referal Level:</span>
                                        <span class="gold">Silver</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Daily Income:</span>
                                        <span>$0.17</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Package Price:</span>
                                                                                    <span>6.0$ <span class="old">10$</span></span>
                                                                            </div>
                                    <div class="fieldInfo">
                                        <span>Duration:</span>
                                        <span>6 months</span>
                                    </div>
                                </div>
                                                                    <div class="package-select">
                                        <a href="https://oilmaxcapital.com/en/cabinet/createOrder?tarrif_id=17">Select package</a>
                                    </div>
                                
                                                                    <div class="package-state">
                                                                                                                                                                    <div class="package-sale"><span> 40%  Sale</span></div>
                                                                            </div>
                                
                            </div>
                        </div>
                                            <div class="package-item">
                            <div class="package-info">
                                <h2>Beginner</h2>
                                <div class="package-infoBlock">
                                    <div class="fieldInfo">
                                        <span>Referal Level:</span>
                                        <span class="gold">Silver</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Daily Income:</span>
                                        <span>$0.83</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Package Price:</span>
                                                                                    <span>30.0$ <span class="old">50$</span></span>
                                                                            </div>
                                    <div class="fieldInfo">
                                        <span>Duration:</span>
                                        <span>6 months</span>
                                    </div>
                                </div>
                                                                    <div class="package-select">
                                        <a href="https://oilmaxcapital.com/en/cabinet/createOrder?tarrif_id=18">Select package</a>
                                    </div>
                                
                                                                    <div class="package-state">
                                                                                                                                                                    <div class="package-sale"><span> 40%  Sale</span></div>
                                                                            </div>
                                
                            </div>
                        </div>
                                            <div class="package-item">
                            <div class="package-info">
                                <h2>Intermediate</h2>
                                <div class="package-infoBlock">
                                    <div class="fieldInfo">
                                        <span>Referal Level:</span>
                                        <span class="gold">Gold</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Daily Income:</span>
                                        <span>$1.67</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Package Price:</span>
                                                                                    <span>60.0$ <span class="old">100$</span></span>
                                                                            </div>
                                    <div class="fieldInfo">
                                        <span>Duration:</span>
                                        <span>6 months</span>
                                    </div>
                                </div>
                                                                    <div class="package-select">
                                        <a href="https://oilmaxcapital.com/en/cabinet/createOrder?tarrif_id=19">Select package</a>
                                    </div>
                                
                                                                    <div class="package-state">
                                                                                                                                                                    <div class="package-sale"><span> 40%  Sale</span></div>
                                                                            </div>
                                
                            </div>
                        </div>
                                            <div class="package-item">
                            <div class="package-info">
                                <h2>Advanced</h2>
                                <div class="package-infoBlock">
                                    <div class="fieldInfo">
                                        <span>Referal Level:</span>
                                        <span class="gold">Gold</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Daily Income:</span>
                                        <span>$8.33</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Package Price:</span>
                                                                                    <span>300.0$ <span class="old">500$</span></span>
                                                                            </div>
                                    <div class="fieldInfo">
                                        <span>Duration:</span>
                                        <span>6 months</span>
                                    </div>
                                </div>
                                                                    <div class="package-select">
                                        <a href="https://oilmaxcapital.com/en/cabinet/createOrder?tarrif_id=20">Select package</a>
                                    </div>
                                
                                                                    <div class="package-state">
                                                                                                                                                                    <div class="package-sale"><span> 40%  Sale</span></div>
                                                                            </div>
                                
                            </div>
                        </div>
                                            <div class="package-item">
                            <div class="package-info">
                                <h2>Professional</h2>
                                <div class="package-infoBlock">
                                    <div class="fieldInfo">
                                        <span>Referal Level:</span>
                                        <span class="gold">Platinum</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Daily Income:</span>
                                        <span>$16.67</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Package Price:</span>
                                                                                    <span>500.0$ <span class="old">1,000$</span></span>
                                                                            </div>
                                    <div class="fieldInfo">
                                        <span>Duration:</span>
                                        <span>6 months</span>
                                    </div>
                                </div>
                                                                    <div class="package-select">
                                        <a href="https://oilmaxcapital.com/en/cabinet/createOrder?tarrif_id=21">Select package</a>
                                    </div>
                                
                                                                    <div class="package-state">
                                                                                                                                                                    <div class="package-sale"><span> 50%  Sale</span></div>
                                                                            </div>
                                
                            </div>
                        </div>
                                            <div class="package-item">
                            <div class="package-info">
                                <h2>Expert</h2>
                                <div class="package-infoBlock">
                                    <div class="fieldInfo">
                                        <span>Referal Level:</span>
                                        <span class="gold">Platinum</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Daily Income:</span>
                                        <span>$41.67</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Package Price:</span>
                                                                                    <span>1,250.0$ <span class="old">2,500$</span></span>
                                                                            </div>
                                    <div class="fieldInfo">
                                        <span>Duration:</span>
                                        <span>6 months</span>
                                    </div>
                                </div>
                                                                    <div class="package-select">
                                        <a href="https://oilmaxcapital.com/en/cabinet/createOrder?tarrif_id=22">Select package</a>
                                    </div>
                                
                                                                    <div class="package-state">
                                                                                                                                                                    <div class="package-sale"><span> 50%  Sale</span></div>
                                                                            </div>
                                
                            </div>
                        </div>
                                            <div class="package-item">
                            <div class="package-info">
                                <h2>Ultimate</h2>
                                <div class="package-infoBlock">
                                    <div class="fieldInfo">
                                        <span>Referal Level:</span>
                                        <span class="gold">Platinum</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Daily Income:</span>
                                        <span>$83.33</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Package Price:</span>
                                                                                    <span>2,000.0$ <span class="old">5,000$</span></span>
                                                                            </div>
                                    <div class="fieldInfo">
                                        <span>Duration:</span>
                                        <span>6 months</span>
                                    </div>
                                </div>
                                                                    <div class="package-select">
                                        <a href="https://oilmaxcapital.com/en/cabinet/createOrder?tarrif_id=23">Select package</a>
                                    </div>
                                
                                                                    <div class="package-state">
                                                                                                                                                                    <div class="package-sale"><span> 60%  Sale</span></div>
                                                                            </div>
                                
                            </div>
                        </div>
                                            <div class="package-item">
                            <div class="package-info">
                                <h2>Ultimate+</h2>
                                <div class="package-infoBlock">
                                    <div class="fieldInfo">
                                        <span>Referal Level:</span>
                                        <span class="gold">Platinum</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Daily Income:</span>
                                        <span>$166.67</span>
                                    </div>
                                    <div class="fieldInfo">
                                        <span>Package Price:</span>
                                                                                    <span>4,000.0$ <span class="old">10,000$</span></span>
                                                                            </div>
                                    <div class="fieldInfo">
                                        <span>Duration:</span>
                                        <span>6 months</span>
                                    </div>
                                </div>
                                                                    <div class="package-select">
                                        <a href="https://oilmaxcapital.com/en/cabinet/createOrder?tarrif_id=24">Select package</a>
                                    </div>
                                
                                                                    <div class="package-state">
                                                                                                                                                                    <div class="package-sale"><span> 60%  Sale</span></div>
                                                                            </div>
                                
                            </div>
                        </div>
                                    </div>
            </div>


        </div>
    </main>





</body>