<footer class="footer-body">
    <div class="s1">
        <div class="f-logo">
            <a href="#"></a>
        </div>
        <div class="f-nav">
            <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Investment packages</a></li>
                <li><a href="#">Referral program</a></li>
                
                <li><a href="#">FAQ</a></li>
            </ul>
        </div>
        <div class="f-mail">
            <a href="#">support@oilmaxcapital.com</a>
        </div>

        <div class="f-btn">
            <a href="#">Login</a>
        </div>

    </div>

    <div class="s2">
        <div class="f-pay">
            
        </div>
        <div class="f-info">
            <span>Copyright © 2020 Fxvests</span>
            <a href="#">Client agreement</a>
        </div>
        <div class="f-soc">
            
            <a class="fb" href="#" target="_blank"></a>
            <a class="lin" href="#" target="_blank"></a>
            <a class="inst" href="#" target="_blank"></a>
            <a class="tw" href="#" target="_blank"></a>
        </div>
    </div>
</footer>