<header class="header-body line fix-head">
    <section class="header-content">
        <div class="mobile-navBtn"><span></span></div>
        <div class="header-logo">
            <a href="#">Logo</a>
        </div>
        <nav class="header-nav">
            <ul>
                <li>
                  <%= link_to  "About us", about_us_index_path %>
                </li>
                <li>
                  <%= link_to  "Investment packages", investment_pakages_index_path %>
                </li>
                <li><a href="#">Referral program</a></li>
                
                <li><a href="#">FAQ</a></li>
            </ul>
        </nav>
        <div class="header-auth">
            <a class="center" href="#">Login</a>
            <a href="#">Registration</a> 
        </div>
    </section>
</header>
